<div class="windowTitle">
    <span class="title">Time-Sheet Inclusion work day - Imported</span>
    <span class="material-icons-outlined" (click)="onClose()"></span>
</div>
<section class="container row">
    <div class="item-header">TICKET No</div>
    <div class="item-header">DATE TIME</div>
    <div class="item-header">TIME SPENT</div>
    <div class="item-header">COMMENT</div>
</section>
<section class="container row" *ngFor="let sheet of tarefas">
    <div class="item"> {{ sheet.ticketNo }} </div>
    <div class="item"> {{ sheet.startDate }} </div>
    <div class="item"> {{ sheet.timeSpent }} </div>
    <div class="item"> {{ sheet.coment }} </div>
</section>
