<div class="barra-header">
    <div>
        <div class="item">
            <button mat-icon-button matTooltip="Adicionar" (click)="openDialog(this.tarefa, 'I')">
                <mat-icon>note_add</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Tasks Importadas" (click)="openDialogImported()">
                <mat-icon>archive</mat-icon>
            </button>
            <button mat-icon-button matTooltip="download" (click)="getDownload()">
                <mat-icon>note_add</mat-icon>
            </button>
            <button [matMenuTriggerFor]="meuMenu">Menu</button>
            <mat-menu #meuMenu="matMenu">
                <a mat-menu-item 
                    [routerLink]="['/home', '1']"
                    (click)="getItemComboSelected('1')">Todos</a>
                <a mat-menu-item *ngFor="let dt of dateSelect" 
                        (click)="getItemComboSelected(dt.date)"
                    [routerLink]="['/home', dt.date]">
                        {{dt.date | date : 'MM/dd/yyyy'}}</a>
            </mat-menu>
            Data Selecionada: {{ itemComboSelected === '1' ? 'Todos' : this.itemComboSelected }} |
            Cálculo de Horas: {{ timeSelectedSumered }} |
            diference.......: {{ localDateTime }}
            <span>Time-Sheet / Jira Hours</span>
        </div>
    </div>
</div>
