.barra-header {
    background-color: #cecece;
    width: 100%;
    height: 50px;
}

.item {
    display: flex;
}

span {
    float: right;
    display: flex;
    width: 300px;
    height: 30px;
    position: absolute;
    right: 0em;
}

a, a:hover, a:visited, a:active {
    color: #000000;
}

.styleCombo {
    font-size: 0.75em;
}
