<form [formGroup]="timeSheetInclusion">
    <div class="form-row">
        <div class="windowTitle">
            <span class="title">Time-Sheet Inclusion work day</span>
            <span class="material-icons-outlined" (click)="onClose()"></span>
        </div>
        <mat-form-field class="form-input">
            <mat-label>Ticket No.</mat-label>
            <div *ngIf="retornoModal.state === 'U' || retornoModal.state === 'D'">
                <input mat-input formControlName="id" value="{{ retornoModal.id }}" [hidden]="true" />
                <input mat-input formControlName="jiraAddTask" value="{{ retornoModal.jiraAddTask }}" [hidden]="true" />

                <input matInput formControlName="ticketNo" value="{{ retornoModal.ticketNo }}" />
            </div>
            <div *ngIf="retornoModal.state === 'I'"> 
                <input matInput formControlName="ticketNo" placeholder="RFCOBR-1234" />
            </div>
        </mat-form-field>
        <mat-form-field class="form-input">
            <mat-label>Start Date</mat-label>
            <div *ngIf="retornoModal.state === 'U' || retornoModal.state === 'D'"> 
                <input matInput formControlName="startDate" value="{{ retornoModal.startDate }}" />
            </div>
            <div *ngIf="retornoModal.state === 'I'"> 
                <input matInput formControlName="startDate" placeholder="mm/dd/yyyy hh:mm" />
            </div>
        </mat-form-field>
        <mat-form-field class="form-input">
            <mat-label>Time Spent</mat-label>
            <div *ngIf="retornoModal.state === 'U' || retornoModal.state === 'D'"> 
                <input matInput formControlName="timeSpent" value="{{ retornoModal.timeSpent }}" />
            </div>
            <div *ngIf="retornoModal.state === 'I'"> 
                <input matInput formControlName="timeSpent" placeholder="7h 59m" />
            </div>
        </mat-form-field>
        <mat-form-field class="form-input">
            <mat-label>Comment</mat-label>
            <div *ngIf="retornoModal.state === 'U' || retornoModal.state === 'D'"> 
                <textarea matInput formControlName="coment" columns="7" rows="9" value="{{ retornoModal.coment }}"></textarea>
            </div>
            <div *ngIf="retornoModal.state === 'I'"> 
                <textarea matInput formControlName="coment" columns="7" rows="9" placeholder="seus comentários aqui.."></textarea>
            </div>            
        </mat-form-field>
        <div>
            <button mat-button mat-strocked-button #Include color="primary" (click)="saveTask()"                       style="width:100px"  *ngIf="retornoModal.state === 'I'">Save</button>
            <button mat-button mat-strocked-button #update  color="primary" (click)="updateTask(retornoModal.id)"      style="width:100px"  *ngIf="retornoModal.state === 'U'">Update</button>
            <button mat-button mat-strocked-button #pRef    color="primary" (click)="removeTask(retornoModal.id)"      style="width:100px"  *ngIf="retornoModal.state === 'D'">Delete</button>
        </div>
    </div>
</form>
