.windowTitle {
    display: flex;
}
.title {
    font-size: 26px;
    font-family: inherit;
    width: 90%;
}
.column-button {
    width: 10%;
}
.material-icons-outlined {
   background-image: url('../../assets/imgs/outlined_highlight_off_black_24dp.png');
   width: 24px;
   height: 24px;
   margin-top: 10px;
   margin-left: 10px;
   cursor: pointer; 
}
.mat-form-field {
    width: 100% !important;
}
