$header-margin: 5px;
$header-text-align: left;
$header-font-size: 1em;
$header-font-weight: 900;

$row-text-align: left;
$row-font-size: 0.9em;
$row-font-weight: 400;

h1{text-align:center;margin: 20px 0px 0px 0px;font-size: 0.9em;font-weight: normal;}
.row { flex-direction: row; }
.row-reverse { flex-direction: row-reverse; }
.column { flex-direction: column; }
.column-reverse { flex-direction: column-reverse; }

.container {max-width:100%;
            margin:0 auto;
            display:flex;
            border:1px solid #000;}

.item-header {margin:$header-margin;
              text-align:$header-text-align;
              font-size:$header-font-size;
              font-weight:$header-font-weight;}

.item {margin:$header-margin;
       text-align:$row-text-align;
       font-size:$row-font-size;
       font-weight:$row-font-weight;}

.bold { font-weight: bold; }
.center { text-align: center; }

.item:nth-child(1) { flex: 0; }
.item:nth-child(2) { flex: 0.5; }
.item:nth-child(3) { flex: 0.7; }
.item:nth-child(4) { flex: 0.5; }
.item:nth-child(5) { flex: 3.9; }
.item:nth-child(6) { flex: 0.2; }
.item:nth-child(7) { flex: 0.6; }
