<div id="hTemp">
    <section class="container row">
        <div class="item bold">ID</div>
        <div class="item bold center">TICKET NO</div>
        <div class="item bold center">DATE TIME</div>
        <div class="item bold center">TIME SPENT</div>
        <div class="item bold">COMENT</div>
        <div class="item bold center">JIRA</div>
        <div class="item bold center">ACTIONS</div>
    </section>
    <section class="container row" *ngFor="let sheet of tarefas">
        <div class="item"> {{ sheet.id }} </div>
        <div class="item"> {{ sheet.ticketNo }} </div>
        <div class="item"> {{ sheet.startDate }} </div>
        <div class="item center"> {{ sheet.timeSpent }} </div>
        <div class="item"> {{ sheet.coment }} </div>
        <div class="item center"> {{ sheet.jiraAddTask }}</div>
        <div class="item">
            <button mat-icon-button matTooltio="Detalhar Task" >
                <mat-icon>view_list</mat-icon>
            </button>
            <button mat-icon-button matTooltio="Alterar Task" (click)="openDialog(this.sheet, 'U')">
                <mat-icon>edit_note</mat-icon>
            </button>
            <button mat-icon-button matTooltio="Excluir Task" (click)="openDialog(this.sheet, 'D')">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </section>
</div>
